.no-padding{
	padding: 0px !important;
}

.form-control{
	color: #333 !important;	
}

.form-control::-moz-placeholder{
	color: #777 !important;	
}

@-webkit-keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }

  100% {
    -webkit-transform: rotateX( 30deg);
    -moz-transform: rotateX( 30deg);
    transform: rotateX( 30deg);
  }

}

@-moz-keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }

  100% {
    -webkit-transform: rotateX( 30deg);
    -moz-transform: rotateX( 30deg);
    transform: rotateX( 30deg);
  }


}

@-ms-keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }

  100% {
    -webkit-transform: rotateX( 30deg);
    -moz-transform: rotateX( 30deg);
    transform: rotateX( 30deg);
  }

 
}

@keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }

  100% {
    -webkit-transform: rotateX( 30deg);
    -moz-transform: rotateX( 30deg);
    transform: rotateX( 30deg);
  }


 
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,20px,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,20px,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,20px,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,20px,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,20px,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,20px,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,20px,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,20px,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,20px,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,20px,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,20px,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,20px,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,20px,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,20px,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,20px,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,20px,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,20px,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,20px,0) rotateZ(-360deg);
  }
}

@-webkit-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@-moz-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@-ms-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: translate3d(30px,0,0) rotateZ(2deg);
    -moz-transform: translate3d(30px,0,0) rotateZ(2deg);
    transform: translate3d(30px,0,0) rotateZ(2deg);
  }
  
  25% {
    -webkit-transform: translate3d(30px,0,0) rotateZ(-2deg);
    -moz-transform: translate3d(30px,0,0) rotateZ(-2deg);
    transform: translate3d(30px,0,0) rotateZ(-2deg);
  }
  
  50% {
    -webkit-transform: translate3d(-30px,0,0) rotateZ(2deg);
    -moz-transform: translate3d(-30px,0,0) rotateZ(2deg);
    transform: translate3d(-30px,0,0) rotateZ(2deg);
  }
  
  100% {
    -webkit-transform: translate3d(-30px,0,0) rotateZ(-2deg);
    -moz-transform: translate3d(-30px,0,0) rotateZ(-2deg);
    transform: translate3d(-30px,0,0) rotateZ(-2deg);
  }
}

@-moz-keyframes swing {
  0% {
    -webkit-transform: translate3d(30px,0,0) rotateZ(2deg);
    -moz-transform: translate3d(30px,0,0) rotateZ(2deg);
    transform: translate3d(30px,0,0) rotateZ(2deg);
  }
  
  25% {
    -webkit-transform: translate3d(30px,0,0) rotateZ(-2deg);
    -moz-transform: translate3d(30px,0,0) rotateZ(-2deg);
    transform: translate3d(30px,0,0) rotateZ(-2deg);
  }
  
  50% {
    -webkit-transform: translate3d(-30px,0,0) rotateZ(2deg);
    -moz-transform: translate3d(-30px,0,0) rotateZ(2deg);
    transform: translate3d(-30px,0,0) rotateZ(2deg);
  }
  
  100% {
    -webkit-transform: translate3d(-30px,0,0) rotateZ(-2deg);
    -moz-transform: translate3d(-30px,0,0) rotateZ(-2deg);
    transform: translate3d(-30px,0,0) rotateZ(-2deg);
  }
}

@-ms-keyframes swing {
  0% {
    -webkit-transform: translate3d(30px,0,0) rotateZ(2deg);
    -moz-transform: translate3d(30px,0,0) rotateZ(2deg);
    transform: translate3d(30px,0,0) rotateZ(2deg);
  }
  
  25% {
    -webkit-transform: translate3d(30px,0,0) rotateZ(-2deg);
    -moz-transform: translate3d(30px,0,0) rotateZ(-2deg);
    transform: translate3d(30px,0,0) rotateZ(-2deg);
  }
  
  50% {
    -webkit-transform: translate3d(-30px,0,0) rotateZ(2deg);
    -moz-transform: translate3d(-30px,0,0) rotateZ(2deg);
    transform: translate3d(-30px,0,0) rotateZ(2deg);
  }
  
  100% {
    -webkit-transform: translate3d(-30px,0,0) rotateZ(-2deg);
    -moz-transform: translate3d(-30px,0,0) rotateZ(-2deg);
    transform: translate3d(-30px,0,0) rotateZ(-2deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: translate3d(30px,0,0) rotateZ(2deg);
    -moz-transform: translate3d(30px,0,0) rotateZ(2deg);
    transform: translate3d(30px,0,0) rotateZ(2deg);
  }
  
  25% {
    -webkit-transform: translate3d(30px,0,0) rotateZ(-2deg);
    -moz-transform: translate3d(30px,0,0) rotateZ(-2deg);
    transform: translate3d(30px,0,0) rotateZ(-2deg);
  }
  
  50% {
    -webkit-transform: translate3d(-30px,0,0) rotateZ(2deg);
    -moz-transform: translate3d(-30px,0,0) rotateZ(2deg);
    transform: translate3d(-30px,0,0) rotateZ(2deg);
  }
  
  100% {
    -webkit-transform: translate3d(-30px,0,0) rotateZ(-2deg);
    -moz-transform: translate3d(-30px,0,0) rotateZ(-2deg);
    transform: translate3d(-30px,0,0) rotateZ(-2deg);
  }
}




/* product page */

.pagination {
	display: block;
}

.custom-product-title{
	display:block;
	height: 90px;
}

.custom-product-title a{
	overflow: hidden;
  	text-overflow: ellipsis;
  	height: 65px;
}

.custom-product-img{
	display:block;
	margin-bottom: 10px;
}

/* home parralax */

#mainnav{
	float:left;
	
}

#masthead .cartbox{
	position: relative;
}

.navbar{
	margin-bottom: 0px;
	border: 0px;
}

#home_section_1 { 
    background-image: url(../images/slide1.jpg);
    height: 600px;  
    margin: 0 auto; 
    width:100%;
/*     box-shadow: 0 0 50px rgba(0,0,0,0.8); */
/*      padding: 400px 0; */
    display: block;
}

.bg-fixed {
    background-attachment: fixed;
    background-position: center 0px;	
    background-repeat: no-repeat;
    position: relative;
 
}


#home_section_2 { 
    background: #E50278 50% 0 no-repeat fixed; 
    background-size: cover; 
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
/*     box-shadow: 0 0 50px rgba(0,0,0,0.8); */
/*     padding: 200px 0; */
	display: block;
}
#home_section_3 { 
    background: url(../images/slide2.jpg) 50% 50% no-repeat fixed; 
    background-size: cover;
    height: 600px;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
/*     box-shadow: 0 0 50px rgba(0,0,0,0.8); */
    padding: 300px 0;
    color: #fff;
}

#home_section_4 { 
    background: #fff 50% 0 fixed; 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
/*     box-shadow: 0 0 50px rgba(0,0,0,0.8); */
/*     padding: 100px 0; */
    color: #fff;
}

.button-wrapper{
	border: 2px solid #8BD1CA;
	border-radius: 5px;
	padding: 3px;
	margin: 0 auto;
	width: 160px;
	top: 350px;
	position: relative;
}

.button{
	float: none;
	margin: 0;
}

.button span{
	color: #fff;
}

.logo-animation{
/* 	 -webkit-animation: swing 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); */
/*      -moz-animation: swing 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); */
/*      animation: swing 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); */
}

#logo{
   animation-duration: 3s;
   animation-delay: 2s;
/*    animation-iteration-count: infinite; */
}


#parallax_footer{
 	-webkit-animation: wave 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
     -moz-animation: wave 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
     animation: wave 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
/*     -webkit-animation-delay: 2s; */
/*     -moz-animation-delay: 2s; */
/*     animation-delay: 2s; */
}

#page{
	background-color: #FEF5E6;
}

.footer-w1170{
	
}

body.custom-background{
	background-color:#FEF5E6 !important;
	background-image: none !important;
}

.mt40{
	margin-top: 40px;
}

#logo img.logo{
	width: 150px;
	
}

#logo{
	
}

#logo-wrapper{
	border-image-slice: 45 50 50 45;
	border-image-width: 45px 42px 50px 42px;
	border-image-outset: 50px 60px 50px 60px;
	border-image-repeat: round round;
	border-image-source: url("images/logo-border-image.png"); 
	display: block;
}

#logo-static img.logo{
	width: 150px;
}

#logo-static{
	float: left;
    margin: 0px 0 0 -40px;
    padding: 0;
    text-align: center;
}


.header-wrapper{
	float:right; 
	max-width:780px;
}

.header-highlight{
	float:right; 
	color: #555; 
	font-size: 1.5em; 
	text-align:right; 
	margin: 15px 20px 0 0;
}

/* banner */
.banner-wrapper{
	float: left;
	margin-left: -100px;
	width: 300px;
}

.banner{
  max-width: 1000px;
  margin-top: 20px;
  position: relative;
}

.banner > div {
  height: 70px;
}

.main {
  background: #E50278; 
  position: relative;
  display: block;
  width: 90%;
  left: 50%;
  top: 0;
  padding: 5px;
  margin-left: -45%;
  z-index: 10;
}

.main > div {
  border: 1px dashed #fff;
  border-color: rgba(255, 255, 255, 0.5);
  height: 60px;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  line-height: 24px;
  padding-left: 5px;
  text-align: center;
}

.bk {
 background: #D61177;
 position: absolute;
 width: 8%;
 top: 12px;
}

.bk.l {
 left: 0;
}

.bk.r {
 right: 0;
}

.skew {
  position: absolute;
  background: #B30F64;
  width: 3%;
  top: 6px;
  z-index: 5;
}

.skew.l {
  left: 5%;
  transform: skew(00deg,50deg);
}

.skew.r {
  right: 5%;
  transform: skew(00deg,-50deg);
}

.bk.l > div {
  left: -30px;
}

.bk.r > div {
  right: -30px;
}

.arrow {
  height: 45px !important;
  position: absolute;
  z-index: 2;
	width: 0; 
	height: 0; 
}

.arrow.top {
  top: 0px;
  border-top: 0px solid transparent;
	border-bottom: 45px solid transparent; 	
	border-right: 30px solid #D61177; 
}

.arrow.bottom {
  top: 25px;
  border-top: 45px solid transparent;
	border-bottom:0px solid transparent; 	
	border-right: 30px solid #D61177; 
}

.r .bottom {
  border-top: 45px solid transparent;
	border-bottom: 0px solid transparent; 	
	border-left: 30px solid #D61177; 
  border-right: none;
}

.r .top {
  border-bottom: 45px solid transparent;
	border-top: 0px solid transparent; 	
	border-left: 30px solid #D61177; 
  border-right: none;
}

@media all and (max-width: 1020px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,25deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-25deg);
  }
}

@media all and (max-width: 680px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,30deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-30deg);
  }
}



@media all and (max-width: 1200px){
	.banner-wrapper {
    	margin-left: -30px;
	}
	
	.button-wrapper{
		top: -150px;
	}
	
	.cartbox{
		right:0px !important;
		width: 300px !important;
	}
}

@media all and (max-width: 992px){
	#logo-static{
		float: none;
	}
	
	#searchform{
		display: none;
	}
	
	.banner-wrapper{
		margin: 0 auto;
		float: none;
	}
	
	
	
	.header-wrapper{
		float:none; 
		max-width:none;
		text-align: center;
	}
	
	#loginsearch{
		float: none !important;
		margin: 0 auto !important;
	}
	
	#loginsearch .loginmenu{
		float: none;
	}
	
	.header-highlight{
		float: none;
		text-align: center;
		margin-top: 30px;
	}
	
	.home-ebook-txt1{
		margin-top: 10px !important;	
	}
	
	.home-ebook-txt2{
		text-align: center;
		margin-top: 10px;
	}
	
	#home_section_2 input{
	margin-top: 10px;
	}

	#home_section_2 button{
	margin-top: 10px;
	}
	
	#home_section_1 { 
    	background-image: url(../images/slide1_992.jpg);
    	height: 380px;
	}	
	
	.cartbox{
		display: none;
	}
	
	.bg-fixed {
		background-position: center 250px;
	}
	
}

@media all and (max-width: 768px) {

  .button-wrapper{
		top: -110px;
  }
}

	
@media all and (max-width: 460px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,40deg);
  }
  .skew.r {
    right: 5%;
    transform: skew(00deg,-40deg);
  }
  
  
}



#masthead{
	background-color: #fff !important;
}

.loginmenu a{
	color: #555 !important;
}

#s{
	border: 1px solid #555 !important;
}

.home-ebook-img{
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.home-ebook-txt1{
	text-transform: uppercase;
	color: #fff;
	font-size: 38px;
    line-height: 40px;
    margin-top: 120px;
    text-transform: uppercase;
    display: block;
}

.home-ebook-txt2{
	font-size: 22px;
	display: block;
	color: #fff;
}

.ebook-download-btn{
	margin-bottom: 20px;
}

.text-section{
	opacity: 0;
}

.clr:after{
	clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.layer{
	width: 80%;
	margin: 0 auto;
	left: 0;
	right: 0;
	height: 0;
/* 	position: absolute !important; */
}

#main{
/* 	margin-top: 243px; */
}

.bottom-slide{
	opacity: 0;
}

.carousel-inner .item{
	float: none;
	margin: 0 auto;
	width: 100%;
	min-height: auto;
}

.chzn-container{
	z-index: 999;
}

.produkimg .slide .item{
	float: left;
	width: 80px;
}

#primary .produkimg .slides_container{
	margin-top: 50px;
}

#primary .produkimg .slides_container{
	width: 100%;
}

.summary .label{
	border-radius: 0.25em;
    color: inherit;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.9em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

@media (max-width: 1200px){
	
	#secondary.sidebar{
		float: left;
		width: 90%;
		margin-left: 20px;
		margin-right: 20px;
	}
	
}

@media (max-width: 992px){
	#primary .produkimg{
		float: none;
		margin: 0 auto;
	}
	
	#primary .produktxt{
		float: none;
		margin: 0 auto;
		width: 90%;
		overflow: hidden;
	}
}

.button--nanuk{
	background: #D61177 none repeat scroll 0 0;
}

.button--nanuk:hover{
	background-color: #EC5656;
}

#primary .container{
	width: 100%;
}


#primary .woocommerce-tabs > ul.tabs{
	margin-left: 0px;
}

.woocommerce-tabs .panel{
	box-shadow: none;
}

#respond #commentform > p{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

#respond #commentform > p input[type="text"]{
	width: 60%;
}

@media (max-width:768px){
	#respond #commentform > p input[type="text"]{
		display: block;
		width: 70%;
	}
}

.comment-wrap .alert{
	color: #8bd1ca;
	padding: 0px;
}

